@using BackEndProject.Areas.Admin.Models;
@model ProductUpdateVM

<h1>Product add page</h1>


<form asp-controller="Product" asp-action="Update" method="post" class="row g-3" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All">
    </div>

    <div class="col-md-12">
        <label for="1" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" id="1">
    </div>
    <div class="col-md-12">
        <label for="5" class="form-label">Product Description</label>
        <input asp-for="Description" class="form-control" id="5">
    </div>
    <div class="col-md-12">
        <label for="6" class="form-label">Product Count</label>
        <input asp-for="Count" type="number" class="form-control" id="6">
    </div>
    <div class="col-md-4">
        <label for="2" class="form-label">Product Price</label>
        <input asp-for="Price" type="number" step="0.1" class="form-control" id="2">
    </div>
    @foreach(var item in Model.ProductImages)
    {
        if (item.ImagePath != null)
        {
            <img class="update-img" style="width: 100px;" src="~/img/@item.ImagePath" />
        }
    }
    

    <div class="col-md-4">
        <label for="7" class="form-label">Photo</label>
        <input asp-for="Photo" class="form-control img-input" multiple="multiple" id="7">
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>

    <input asp-for="Id" type="hidden">

    <div class="col-md-4">
        <label for="8" class="form-label">Type</label>
        <select asp-for="CategoryId" asp-items="@Model.Categories">
            <option>Please select one</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="9" class="form-label">Type</label>
        <select asp-for="BrandId" asp-items="@Model.Brands">
            <option>Please select one</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="9" class="form-label">Type</label>
        <select asp-for="ColorId" asp-items="@Model.Colors">
            <option>Please select one</option>
        </select>
    </div>
    <br />
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update product</button>
    </div>
</form>