@{
    ViewData["Page"] = "Home";
}

<h1>Hello Boss, Welcome :)</h1>
<a class="btn btn-primary" asp-controller="Product" asp-action="Index">Go to Products page</a>
<a class="btn btn-primary" asp-controller="Category" asp-action="Index">Go to Category page</a>
<a class="btn btn-primary" asp-controller="Brand" asp-action="Index">Go to Brand page</a>
<a class="btn btn-primary" asp-controller="Color" asp-action="Index">Go to Color page</a>