@using BackEndProject.Areas.Admin.Models;
@model BrandUpdateVM

<form asp-controller="Brand" asp-action="Update" method="post">
    <div class="row">
        <div class="col">
            <label for="1" class="form-label">Brand Count</label>
            <input asp-for="Name" type="text" class="form-control" id="1">
        </div>
    </div>
    <input asp-for="Id" type="hidden">
    <br />
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Uptade Brand</button>
    </div>
</form>
